@import url("https://fonts.googleapis.com/css?family=Rajdhani:300,400,500,600,700");
@import url("https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");
/* body {
} */

.sidebar {
  grid-area: sidebar;
}

.sidebar2 {
  grid-area: sidebar2;
}

.content {
  grid-area: content;
}

.header {
  grid-area: header;
}

.footer {
  grid-area: footer;
  background-color: #004863;
  color: white;
}

.footer_text {
  padding: 8px;
}

.wrapper {
  background-color: #fff;
}

.wrapper {
  display: grid;
  grid-gap: 1em;
  grid-template-areas:
    "header"
    "sidebar"
    "content"
    "sidebar2"
    "footer";
}

@media only screen and (min-width: 500px) {
  .wrapper {
    grid-template-columns: 20% auto;
    grid-template-areas:
      "header   header"
      "content  content"
      "footer   footer";
  }
}

@media only screen and (min-width: 600px) {
  .wrapper {
    grid-gap: 20px;
    grid-template-columns: 120px auto 120px;
    grid-template-areas:
      "header  header  header"
      "content content content"
      "footer  footer  footer";
  }
}

.box {
  border-radius: 5px;
  padding: 10px;
  font-size: 150%;
}

.header,
.footer {
  padding: 0px;
}

.sidebar2 {
}

.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.nav li {
  float: right;
  padding: 10px;
}

#headerlogo {
  float: left;
}

.nav li a {
  display: block;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

.nav li a :hover {
}

#header_logo {
  width: 150px;
}

#landing_logo {
  width: 100%;
}

.landing {
  background-image: url("./private_assets/landing.png");
  background-size: cover;
  height: 720px;
}

.center {
  margin: 0;
  position: absolute;
  top: 74%;
  left: 56.5%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.landing_text {
  border: none;
  border-bottom: 2px solid black;
  width: 180px;
  height: 40px;
  background-color: #f1f1f1;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

.landing_desc {
  padding: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.desc_image {
}

.desc_text_wrapper {
  line-height: 300px;
  height: 300px;
  text-align: center;
}

.desc_text {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  font-family: "Poppins";
}

.desc_image {
  height: 300px;
  display: block;
  margin: auto;
}
